<!-- Replaces index page -->
<div class="col-md-12">
  <h2>Scraped articles</h2>

  <div id="wrapper">
    <div id="articles"></div>
    <div id="notes"></div>
  </div>

  {{#if article}}

  <ul>
    {{#each article}}
    <p>{{this.headline}}</p>
    <p>{{this.summary}}</p>
    <a href={{this.url}}>
      <p>Link to original article</p>
    </a>
    <button type="button" class="btn btn-success saveButton" data-id={{this._id}}>Save this article</button></button>
    <br>
    {{/each}}

    {{else}}
    <h3>There are no new articles. Please click on "Scrape" button.</h3>
    {{/if}}

</div>

{{!-- <h2>Add a comment</h2>
<form class="create-form">

  <div class="form-group">
    <input type="text" name="commentTitle">
    <input type="text" name="commentBody">
  </div>

  <button type="submit">Add comment</button>
</form> --}}